@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Open+Sans&family=Public+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --teal: #088280;
    --blue: #8a95f8;
    --aquamarine: #6ad69d;

    --normal: 'Public Sans', sans-serif;
    --title: 'Lexend', sans-serif;
}

body {
    font-family: var(--normal);
    background-color: var(--blue);
}

h1 {
    font-family: var(--title);
    text-align: center;
    padding-top: 1rem;
    font-size: 2.5rem;
}

h2 {
    text-align: center;
    margin-top: 1rem;
}

button {
    background-color: var(--aquamarine);
    padding: 0.3rem 0.7rem 0.2rem 0.1rem;
    border: 2px solid black;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    box-shadow: 3px 3px black;
}

button:hover {
    cursor: pointer;
}

input {
    padding: 0.53rem;
    width: 60%;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    font-size: 1em;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

input:focus {
    outline: none;
}

.search__board {
    border: 3px solid black;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 80%;
    box-shadow: 3px 3px black;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 3rem;
}

.search__area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
}

.movie__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.7rem;
}

.movie__info > h2 {
    font-size: 2rem;
    padding-bottom: 1.2rem;
}

.movie__info > img {
    padding-top: 1rem;
}